/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Source+Sans+Pro:wght@700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/footer.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: rgb(240,240,240);
}

h1, h2, h3, h4 {
  font-family: Source Sans Pro;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
    width: 900px;
    margin: auto;
}
